@charset "UTF-8";

@import url(/fonts/fonts.css);

@font-face {font-family: "Computer Modern"; src: url(http://mirror.ctan.org/fonts/cm/ps-type1/bakoma/ttf/cmr10.ttf) format("truetype")}
@font-face {font-family: "Computer Modern sans-serif"; src: url(http://mirror.ctan.org/fonts/cm/ps-type1/bakoma/ttf/cmss10.ttf) format("truetype")}
@font-face {font-family: "Computer Modern Dunhill"; src: url(http://mirror.ctan.org/fonts/cm/ps-type1/bakoma/ttf/cmdunh10.ttf) format("truetype")}
@font-face {font-family: "Computer Modern small caps"; src: url(http://mirror.ctan.org/fonts/cm/ps-type1/bakoma/ttf/cmcsc10.ttf) format("truetype")}

a {
   text-decoration: none;
}

a:link {
   color: #806040;
}

a:visited {
   color: #406080;
}

a:hover {
   bottom: 1px;
   position: relative;
   text-decoration: underline;
}

a:active {
   color: #606060;
}

body {
   background-color: #f4f8fc;
   color: #002040;
   font-family: Didot, Palatino, "Palatino Linotype", serif;
}

.bigtop {
   font-family: Futura, "Century Gothic", Geneva, Tahoma, Verdana, Arial, sans-serif;
   font-size: 250%;
   font-weight: bold;
}

.email {
   font-family: Consolas, monospace;
}

.endtag {
   font-size: 60%;
   font-style: italic;
   margin-left: 2em;
}

.header {
   font-family: "Computer Modern", Didot, Palatino, "Palatino Linotype", serif;
   font-size: 150%;
}

.smalltop {
   font-family: "Computer Modern", Garamond, Georgia, Baskerville, Palatino, "Palatino Linotype", Didot, Bodoni, serif;
   font-size: 120%;
}

.url {
   font-family: Consolas, monospace;
}

body {
   background-color: #ddeeff;
   color: #001122;
}

canvas#population, body > fieldset {
   float: left;
}

input {
   text-align: right;
}

label {
   display: block;
}

table.payoff-table td {
   border: 1px solid #001122;
   empty-cells: hide;
}

table.payoff-table td.payoff-cell {
   border: none;
   padding: 0px 5px;
}

table.payoff-table th.payoff-header {
   border: none;
   padding: 0px 8px;
   text-align: center;
}

#average-organism {
   padding: 0px 10px;
   text-align: center;
}

#reset-to-000000 {
   background-color: #000000;
}

#reset-to-0000ff {
   background-color: #0000ff;
}

#reset-to-00ff00 {
   background-color: #00ff00;
}

#reset-to-00ffff {
   background-color: #00ffff;
}

#reset-to-ff0000 {
   background-color: #ff0000;
}

#reset-to-ff00ff {
   background-color: #ff00ff;
}

#reset-to-ffff00 {
   background-color: #ffff00;
}

#reset-to-ffffff {
   background-color: #ffffff;
}

.bigtop {
   color: #660033;
   font-family: Futura, "Century Gothic", Geneva, Tahoma, Verdana, Arial, sans-serif;
   font-size: 250%;
   font-weight: bold;
}

.credits {
   border-top: 1px #000000 solid;
   clear: both;
   font-style: italic;
   padding-top: 3px;
}

.debug-at-bottom {
   clear: both;
}

.dimension-value {
   text-align: right;
}

.reset-to-color {
   height: 25px;
   width: 25px;
}

.smalltop {
   color: #660033;
   font-family: Garamond, Georgia, Baskerville, Palatino, "Palatino Linotype", Didot, Bodoni, serif;
   font-size: 100%;
   font-weight: normal;
}

.variable {
   font-style: italic;
}

::selection {
   background-color: #ffffff;
}
